:root {
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);
  --grey-500: hsl(215, 17%, 45%);
  --grey-300: hsl(215, 43%, 77%);
  --blue-900: hsl(215, 31%, 21%);
  --blue-500: hsl(227, 92%, 58%);
  --blue-300: hsl(209, 69%, 82%);
  --blue-100: hsl(228, 94%, 94%);
  --gradient: hsl(183, 95%, 92%), hsl(216, 95%, 92%);
}
@font-face {
  font-family: "InterRegular";
  src:
    local("Inter Regular"),
    url("../assets/fonts/static/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "InterSemibold";
  src:
    local("Inter Semibold"),
    url("../assets/fonts/static/Inter-SemiBold.ttf");
  font-weight: 600;
}
*,
::after,
::before {
  box-sizing: inherit;
}
body {
  font-family: "InterRegular", sans-serif;
}

img {
  /* Чтобы ширина не выходила за экран изображения */
  max-width: 100%;
  display: block;
}
ul {
  margin-block: 0;
  padding-inline-start: 0;
}
.container {
  box-sizing: border-box;
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: 10px;
}
